textarea {
    flex:1;
    background:transparent;
    border:none;
    font-family:"JetBrains Mono",monospace;
    font-size:13px;
    color:var(--text);
    resize:vertical;
    outline:none;
    padding:14px 16px;
}
#input {
    min-height:280px;
    overflow:auto;
    position:absolute;
    inset:0;
    background:transparent;
    color:transparent;
    caret-color:var(--text);
    z-index:2;
    font-size:13px;
    resize:none;
    margin:0;
    padding:14px 16px;
}
#input-highlight {
    position:absolute;
    inset:0;
    overflow:auto;
    background:var(--editor);
    font-size:13px;
    pointer-events:none;
    margin:0;
    padding:14px 16px;
}
#lineNumbers{
    width:50px;
    height:auto;
    min-width:50px;
    flex-shrink:0;
    background:var(--editor);
    border-right:1px solid var(--line);
    text-align:right;
    color:#888;
    font-size:13px;
    user-select:none;
    overflow:hidden;
    pointer-events:none;
    padding:14px 8px;
    overflow-y:scroll;
    overflow-x:hidden;
    scrollbar-width:none;
    -ms-overflow-style:none;
    white-space:pre;
}
#lineNumbers::-webkit-scrollbar{
    display:none;
}